# Framework
fastapi[standard]==0.115.0
uvicorn==0.30.6
pydantic==2.9.2

# Database
psycopg[binary,pool]==3.2.2
SQLAlchemy==2.0.35
GeoAlchemy2==0.15.2
alembic==1.13.3

# Tools
pydantic-settings==2.5.2
shapely==2.0.6
